body {
    background-color:black;
}

nav {
    background-color:rgb(50,50,50); 
}

footer {
    background-color:rgb(25,25,25); 
}

.Base {
    
}

.Foreground1 {
    /*color:#009900;*/
    color: #3e9ee7
}

.Foreground2 {
    color:white;
}

.Background1 {
    /*background-color:#009900;*/
    background-color: #3e9ee7;
}

.Background2 {
    background-color: white;
}

.Border1 {
    border-color: #009900;
}


a {
    color: white;
}

a:hover {
    background-color:rgb(25,25,25);
}

no_a:hover {
    background-color: transparent;
}

.bulletpoint_point {
    color: #009900;
}


@media screen and (min-width: 0px) {
    #nav_Links_Top {
        background-color:rgb(50,50,50); 
    }
}
@media screen and (min-width: 730px)
{
    #nav_Links_Top {
        background-color:transparent; 
    }
}



.Sponsor_h3 {
    color:white; 
    border-bottom-color: white;
}