* {font-family: Arial, Helvetica, sans-serif;}
body { margin:0; min-height: 100vh; }
nav { min-height:45px; height: 45px; }
h1, h2, h3 { font-family: Arial, Helvetica, sans-serif; }
p { margin:0; text-align: left; font-family: Arial, Helvetica, sans-serif; }
a { text-decoration: none; font-family: Arial, Helvetica, sans-serif; padding:10px; display: inline-block; }
footer {  min-height:100px; }
.information_content_container { padding-top:50px; padding-bottom: 50px; }

.subPageHeader {
    padding-bottom:75px!important; 
    min-height:auto!important;
}
/*Log In Button*/

.preventOverlay {
    z-index:100; position:relative;
}

.toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  right:-100%;
  top:-100%;
}


.toggle + label {
    cursor:pointer;
    /*background: #26ae90;*/
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    transition:all 500ms ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*Rest of Class*/

.navRight {
height: 45px; right: 0px; position: absolute; display:inline-flex; z-index: 100;
}

.navSignIn 
{
    display: inline-flex!important; max-height:45px; cursor:pointer; right:45px;
}


@media screen and (min-height: 0px) {
    #arrowContainer {
        display: none!important;
    }
}

@media screen and (min-height: 610px) {
    #arrowContainer {
        display: block!important;
    }
}




@media screen and (min-width: 0px)
{
    .navhamburger { display: block; visibility: visible; }
    
    body { background-image:none; background-repeat:no-repeat; background-size:100%; background-attachment: fixed; }
    nav { position:fixed; width:100%; display: inline-flex; }
    .Banner_Logo { height:25px; width: 81.297px; padding:10px; z-index: 100; }
     

    .nav_Links {
            background-color:#181818;
            color:#FFF;
            position: absolute;
            /*top: -253px;*/
            width: 100%;
            top:45px;
            right: 0px;
            height: 0px;
            transition: height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
            overflow: hidden;
            z-index: 99;
        }


        #navtoggle:checked ~ .nav_Links {
        /* top: 45px!important;*/
            height: 275px;
        }



    .ticketButton_a {
        margin:0;
    }


    .Banner_Links {
        display: table;
    }

    .Banner_Links_P {
        line-height: 1.6em;
    }

    .Infected_logo {
        padding-top: 75px!important;
        width: 80%;
    }

    .GameLogo {
        max-width: 128px;
    }
    

    .TopSymbol {
        padding-top: 100px!important;
    }

    .wrapper {
        /*padding-top: 100px;*/
        margin:0 auto;
    }

    #Overview_Post {
        /*margin-bottom:450px; */
        /*min-height: 100vh;*/
        /*display: table;*/
        min-height: calc(100vh - 95px);
        margin-left: 20px; 
        margin-right:20px;
    }

    .Center_Vertical_Post {
        display: table-cell;
        vertical-align: middle;
    }

    .Banner_Post {
        width:100%; 
        padding-bottom:25px;
    }
    
    .Banner_Post_P {
        max-width:80%;
    }

    .Banner_Info {
        display: block; 
        width: auto;  
        margin: auto 0px;
        padding-bottom:50px;
    }


    .Sponsor_h3 {
        padding-bottom:10px; 
        border-bottom:solid 1px; 
        max-width:80%
    }    

    .sponsor_img {
        max-height: 50px;
        max-width: 90%;
        margin:10px;
    }

    .information_content_container {
        padding-top:50px;
        padding-bottom: 50px;
    }

    .agenda_container {
    display: block;
    }

    .agenda_container_row {
        display: inline-block;
        width: 100%;
    }

    .agenda_container_row_text {
        display: block;
        padding: 0px;
        margin: 10px;
        word-wrap: break-word;
    }

    .information_content {
        margin-top:25px; 
        margin-bottom:25px; 
    }

    .bulletpoint_point {
        display: table-cell!important; 
        padding-right: 5px!important;
        vertical-align: middle!important;
    }

    .bulletpoint_p {
        display: table-cell!important; 
        padding:5px;
    }




/*Logg in style*/

    .loginForm {
        background:#181818!important;
        color:#FFF;
        position: absolute;
        /*top: -253px;*/
        width: 100%;
        top:45px;
        right: 0px;
        height: 0px;
        transition: height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
        overflow: hidden;
    
    }


    #toggle:checked ~ .loginForm {
    /* top: 45px!important;*/
        height: 225px;
    }









    .signInForm {
        color:white; 

    }

    .singInInputContainer {
        margin:10px; 

    }

    .signInInputHeader {
        padding-bottom:10px; color:rgb(190,190,190); font-size:12px;
    }

    .signInInput {
        padding-top:5px; 
        padding-bottom:5px; 
        border-width: 0px 0px 1px; 

        font-size:18px; 
    }    

    .signInButton {
        margin:10px; 

        padding-top:10px; 
        padding-bottom:10px; 
        font-size:18px; 
    }



}

@media screen and (min-width: 320px)
{
    


    .navhamburger {
        display: block;
        visibility: visible;
    }
    
    body {
        /*background-color:purple;*/
        /*background-image:url(Resources/img/Back_660.jpg);*/
        background-repeat:no-repeat; 
        background-size:100%; 
        background-attachment: fixed; 
    }

    nav {
        position:fixed; 
        width:100%;  
        display: inline-flex;
    }

    .Banner_Logo {
        height:25px; 
        width: 81.297px; 
        padding:10px; 
        position: absolute;
        /*background-color:#009900;*/
    }
     

    .nav_Links {
            background-color:#181818;
            color:#FFF;
            position: absolute;
            /*top: -253px;*/
            width: 100%;
            top:45px;
            right: 0px;
            height: 0px;
            transition: height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
            overflow: hidden;
        
        }


        #navtoggle:checked ~ .nav_Links {
        /* top: 45px!important;*/
            height: 275px;
        }







    .Banner_Links {
        display: table;
    }

    .Banner_Links_P {
        line-height: 1.6em;
    }

    .Infected_logo {
        height: 60px;
        width: auto;
        padding-top: 75px!important;
    }

    .TopSymbol {
        padding-top: 75px!important;
    }

    .wrapper {
        /*padding-top: 100px;*/
        margin:0 auto;
    }

    #Overview_Post {
        /*margin-bottom:100px;*/ 
        margin-left: 20px; 
        margin-right:20px;
    }

    .Banner_Post {
        width:100%; 
        padding-bottom:25px;
    }
    
    .Banner_Post_P {
        max-width:80%;
    }

    .Banner_Info {
        display: block; 
        width: 300px;  
        margin: auto 0px;
        padding-bottom:50px;
    }



    .information_content {
        margin-left:10px; 
        margin-right:10px; 
        margin-top:25px; 
        margin-bottom:25px; 
        display:table;
    }

    .information_content_icon {
        vertical-align:middle!important;
        margin:auto 0!important; 
        display:table-cell!important; 
        width:50px!important;
        font-size: 3em!important;
    }

    .too-large {
        font-size:2.9em!important; max-width:50px!important; width:50px!important;
    }

    .information_content_textholder {
        vertical-align:middle; 
        display:table-cell; 
        padding-left:20px;
    }

    .Sponsor_h3 {
        padding-bottom:10px; 
        border-bottom: solid 1px; 
        max-width:80%
    }    

    .sponsor_img {
        height: 50px;
        margin:10px;
    }


    /*Logg in style*/

    .loginForm {
        background:#181818!important;
        color:#FFF;
        position: absolute;
        /*top: -253px;*/
        width: 100%;
        top:45px;
        right: 0px;
        height: 0px;
        transition: height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
        overflow: hidden;
    
    }


    #toggle:checked ~ .loginForm {
    /* top: 45px!important;*/
        height: 225px;
    }


    .signInForm {
        color:white; 

    }

    .signInInputHeader {
        padding-bottom:10px; color:rgb(190,190,190); font-size:12px; width: 80%;
    }


    .signInInput {
        padding-top:5px; 
        padding-bottom:5px; 
        border-width: 0px 0px 1px; 
        width: 80%;
        font-size:18px; 
    }    

    .signInButton {
        
        width: 80%;
        padding-top:10px; 
        padding-bottom:10px; 
        font-size:18px; 
    }


}


@media screen and (min-width: 450px)
{

    #Overview_Post {
        /*margin-bottom:450px; */
        /*min-height: 100vh;*/
        
        min-height: calc(100vh - 100px);
        margin-left: 20px; 
        margin-right:20px;
    }

/*Logg in */
    .signInForm {
        color:white; 
        width:400px;
    }

    .singInInputContainer {
        padding:10px; 
        width:300px;
        margin: auto;
    }

    .signInInputHeader {
        width: auto;
    }

    .signInInput {
        padding-top:5px; 
        padding-bottom:5px; 
        border-width: 0px 0px 1px; 
        width:300px; 
        font-size:18px; 
    }    

    .signInButton {
        margin:10px; width:300px; padding:10px;  font-size:18px; 
    }

        .ticketButton_a {
        margin:20px;
    }
}



@media screen and (min-width: 660px)
{
    




    body {
        /*background-image:url(Resources/img/Back_660.jpg);*/
        background-repeat:no-repeat; 
        background-size:100%; 
        background-attachment: fixed; 
    }

    nav {
        position:fixed; 
        width:100%; 
        display: inline-flex;
    }


    .Infected_logo {
        height: 72px;
        width: auto;
        padding-top: 120px!important;
    }

    #Overview_Post {
        /*margin-bottom:450px; */
        /*min-height: 100vh;*/
        display: block;
        min-height: calc(100vh - 115px);
        margin-left: 20px; 
        margin-right:20px;
    }

    .Center_Vertical_Post {
        display: block;
    }


    .Banner_Info {
        display: block; 
        width: 350px;  
        margin: auto 50px;
        padding-bottom:50px;
    }

    .information_content_container {
        padding-top:50px;
        padding-bottom: 50px;
        padding-left:100px;
        padding-right: 100px;
    }

    .information_content {
        margin-left:50px; 
        margin-right:50px; 
        margin-top:25px; 
        margin-bottom:25px; 
        display:table;
    }

    .information_content_icon {
        vertical-align:middle!important;
        margin:auto 0!important; 
        display:table-cell!important; 
        width:90px!important;
        font-size: 5em!important;
    }    

    .too-large {
        font-size:4.9em!important; max-width:90px!important; width:90px!important;
    }

    .agenda_container {
    display: table-row-group;
    }

    .agenda_container_row {
        display: table-row;
    }

    .agenda_container_row_text {
        display: table-cell;
        padding: 15px;
        padding-left:50px;
        padding-right:50px;
    }

}

@media screen and (min-width: 780px)
{
        .navhamburger {
        display: none;
        visibility: collapse;
    }



    .navSignIn {
        right:0px;;
    }
    
        .nav_Links {
        width: inherit; 
        display: block;
        height: auto!important;
        /*margin-left:-101.297px;*/
        background-color: transparent!important;
        margin-top: 0;
        position: static;
    }
    
    .Banner_Links {
        display: inline-block;
        max-height: 25px;
    }

    .Banner_Links_P {
        line-height: 1.6em;
    }

    /*Logg inn animation*/
    .loginForm {
        background:#181818!important;
        color:#FFF;
        position: absolute;
        /*top: -253px;*/
        width: auto;
        top:45px;
        right: 0px;
        height: 0px;
        transition: height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
        overflow: hidden;
    
    }



    #toggle:checked ~ .loginForm {
    /* top: 45px!important;*/
        height: 225px;
    }


    /*Logg in */
    .signInForm {
        color:white; width:400px;
    }

    .singInInputContainer {
        padding:10px; width:300px;
    }

    .signInInput {
        padding-top:5px; 
        padding-bottom:5px; 
        border-width: 0px 0px 1px; 
        width:300px; 
        font-size:18px; 
    }    

    .signInButton {
        margin:10px; width:300px; padding:10px;  font-size:18px; 
    }
}


@media screen and (min-width: 919px)
{
    
    body {
        /*background-image:url(Resources/img/Back_660.jpg);*/ 
        background-repeat:no-repeat; 
        background-size:100%; 
        background-attachment: fixed; 

    }

    .Infected_logo {
        height: 72px;
        width: auto;
        padding-top: 125px!important;
    }

    #Overview_Post {
        /*margin-bottom:450px; */
        min-height: calc(100vh - 125px);
        margin-left: 20px; 
        margin-right:20px;
    }
    
    .Banner_Post_P {
        max-width:60%;
    }

    .information_content_container {
        padding-top:50px;
        padding-bottom: 50px;
        padding-left:200px;
        padding-right: 200px;
    }

    .information_content {
        margin-left:100px; 
        margin-right:100px; 
        margin-top:25px; 
        margin-bottom:25px; 
        display:table;
    }

    .agenda_container_row_text {
        display: table-cell;
        padding: 15px;
        padding-left:50px;
        padding-right:50px;
    }

}

@media screen and (min-width: 1068px)
{

    .Banner_Info {
        display: inline-block; 
        width: 250px;  
        margin: auto 50px;
        padding-bottom:50px;
    }

    .Banner_Info_Desc {
        max-height: 90px!important;
        min-height: 90px!important;
        height: 90px!important;
    }

        .Infected_logo {
        padding-top: 120px!important;
        height: auto;
    }

}


@media screen and (min-width: 1390px) 
{

    body {
        margin:0;
        /*background-image:url(Resources/img/Back.jpg);*/ 
        background-repeat:no-repeat; 
        background-size:100%; 
        background-attachment: fixed; 
    }

    nav {
        position:fixed; 
        width:100%; 
        display: inline-flex;
    }


    .Banner_Links {
        display: inline-block;
    }

    .Banner_Links_P {
        line-height: 1.6em;
    }




    .nav_Links {
        width: inherit; 
        /*margin-left:-101.297px;*/
    }

    .Banner_Logo {
        height:25px; 
        width: 81.297px; 
        padding:10px; 
        /*background-color:#009900;*/
    }




    .wrapper {
        /*padding-top: 160px;*/
        margin:0 auto;
    }

        .TopSymbol {
        padding-top: 160px!important;
    }

    .Infected_logo {
        padding-top: 160px!important;
        height: auto;
    }


    .Banner_Post {
        width:100%; 
        padding-bottom:25px;
    }
    
    .Banner_Post_P {
        max-width:40%;
    }

    .Banner_Info {
        display: inline-block; 
        width: 350px;  
        margin: auto 50px;
        padding-bottom:50px;
    }

    .Banner_Info_Desc {
        max-height: 56px!important;
        min-height: 56px!important;
        height: 56px!important;
    }

    .agenda_container_row_text {
        display: table-cell;
        padding: 15px;
        padding-left:75px;
        padding-right:75px;
    }

    .Sponsor_h3 {
        padding-bottom:10px; 
        border-bottom: solid 1px; 
        max-width:40%
    }




}
    






/*CSS TEST*/




#toggle:checked + label {
  /*background:#dd6149;*/
}


